/com.htc.upm.wave.openxr
/com.htc.upm.wave.openxr.toolkit
/com.htc.upm.wave.openxr.toolkit.samples
/com.htc.upm.wave.essence
/com.htc.upm.wave.native
/com.htc.upm.wave.xrsdk
/essence_combined_packages


